version: '3'
services:
  duckdns:
    image: duckdns:latest
    container_name: duckdns
    restart: unless-stopped
    environment:
      - TZ=Europe/Oslo
    volumes:
      - ./data/config.json:/data/config.json
      - ./data/logs:/data/logs
